.side-bar{
    z-index:100;
    position: absolute;
}


.closed {
    background-color:black;
    height: 100%;
    width: 150px;
    position:fixed;
    color: black;
    color: white;

}

.open {
    background-color:black;
    height: 100%;
    width: 350px;
    position: fixed; 
    color: white;
}