.footer {
    display: flex;
    flex-direction: column;
    align-items:center;
    list-style-type: none;
    background-color:white;
    padding:60px;
    font-family: monospace;
    font-size: 18px;
}

.content{
    display:flex;
    flex-direction: row;
    align-items: center;
} 
.links{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.link-column{
    display:flex;
    flex-direction: row;
    align-items: center;
}

